*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    
}
body{
    background-color:wheat;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
form{
    display: flex;
    flex-direction: column;
    background-color:rgb(246, 246, 23);/*Couleur du rectangle conteneur*/
    padding: 5px;
    border-radius: 10px;/*arrondir les bordures*/
    box-shadow: 0 0 10px black; /*ajouer de l'ombre*/
    height: 560px;
    width: 350px;
}
hr{ /*mise en forme des petits rectangle*/
    margin: 10px 0;
    background-color: aliceblue;/*couleur des petits rectange*/
    border: 0;
    height: 1px;
    width: 200px;
}
label{
    margin-bottom: 6px;
}
input{
    margin-bottom: 5px;
    padding: 5px;
    outline: O;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,4);
}
input:focus{
    border: 1px solid rgb(243, 124, 184);
}
input[type="submit"]{
    margin-top: 15px;
    background-color: rgb(243, 124, 184);
    color: black;
    border: 1px solid rgb(243, 124, 184);
    border-radius: 5px;
    cursor: pointer;
}
h1{
    text-align: center;
}
.image{
    height:450px ;
    width: 300px;
}
.paragraph{
    text-align: center;
}